.paragraphs {
	justify-content: end;
	font-style: italic;
	font-family: sans-serif;
	color: blue;
}

.first {
	text-align: center;
	color: red;
	font-size: 110%;
	font-family: "Times New Roman";
}

#paragraph2 {
	text-align: justify;
	font-family: "Verdana";
}

a {
	color: yellow;
}

a:hover {
	color: gray;
}
