p {
	font-style: italic;
	font-family: sans-serif;
	color: blue;
	text-align: right;
}

#first {
	text-align: center;
	color: red;
	font-size: 110%;
	font-family: "Times New Roman", Times, serif;
}

.right {
	float: right;
}

#paragraph2 {
	text-align: justify;
	font-family: "Verdana";
}

a {
	color: yellow;
}

a:hover {
	color: gray;
}
.end {
	clear: both;
	content: "";
}

footer {
	margin-top: auto;
}
